<div class="space-y-6">
  <div class="flex flex-col sm:flex-row justify-between items-center gap-4">
    <div class="form-control w-full sm:w-96">
      <form id="search-form" class="input-group">
        <input 
          type="text" 
          id="search-input" 
          name="query" 
          placeholder="Search projects..." 
          value="<%= params[:query] %>"
          class="input input-bordered w-full"
        />
      </form>
    </div>
  </div>

  <div id="projects-list">
    <%= render 'projects/projects_list', projects: @projects %>
  </div>

  <div id="pagination" class="mt-8">
    <%= render 'shared/pagination', pagy: @pagy %>
  </div>
</div>
